@use './variables' as *;
@use './mixins' as c;
@use './fontSizes' as *;
.shadow { box-shadow: 0px 10px 40px -20px rgba(50, 50, 93, 0.15), inset 0px 1px 1px rgba(255, 255, 255, 0.1); }
.button { border-radius: 30px; @extend .f500; @extend .medium;  border-radius: $borderRadius; display: inline-block; cursor: pointer; @include c.transition( all 0.4s ease-in-out); 
	&.big { padding: 32px 328px 32px 88px; box-sizing: border-box; white-space: nowrap; 
		&.black { background-color: $black; color: $gray; position: relative; 
			svg { position: absolute; -webkit-transform: translateY(-50%); top: 50%; transform: translateY(-50%); left: 32px; height: 32px; width: 32px; 
				path { fill: $white; }
			}
			&:before { background-image: url('../../images/svg/roundArrow.svg'); content: ""; transition: transform 0.4s ease-in-out; position: absolute;  top: 50%; margin-top: -18px; right: 32px; height: 36px; width: 36px; background-size: 100% 100%;}
			&:hover { background-color: $black_hover; 
				&:before { transform: rotate(45deg); }
			}
		}
		&.white { background-color: $white; color: $black; position: relative;
			svg { position: absolute; -webkit-transform: translateY(-50%); top: 50%; transform: translateY(-50%); left: 32px; height: 32px; width: 32px; 
				path { }
			}
			&:before { background-image: url('../../images/svg/roundArrow.svg'); content: ""; transition: transform 0.4s ease-in-out; position: absolute; top: 50%; margin-top: -18px; right: 32px; height: 36px; width: 36px; background-size: 100% 100%;}
			&:hover { background-color: $mint; 
				&:before { transform: rotate(45deg); }
			}
		}
	}
	&.small { padding: 16px 24px 16px 24px; @extend .medium;
		&.whiteWithSvg { background-color: $white; color: $black; padding: 16px 64px 16px 24px;
			&:before { background-image: url('../../images/svg/tooth.svg'); content: ""; position: absolute; -webkit-transform: translateY(-50%); top: 50%; transform: translateY(-50%); right: 24px; height: 24px; width: 24px; background-size: 100% 100%;}
		}
		&.white { background-color: $white; color: $black; border: 1px solid $gray;
			&:hover { @extend .shadow; }
		}
		&.mintWithSvg { background-color: $mint; color: $black; padding: 16px 64px 16px 24px;
			&:before { background-image: url('../../images/svg/tooth.svg'); content: ""; position: absolute; -webkit-transform: translateY(-50%); top: 50%; transform: translateY(-50%); right: 24px; height: 24px; width: 24px; background-size: 100% 100%; }
			&:hover { background-color: #41FFB1 }
		}
		&.mint { background-color: $mint; color: $black; 
			&:hover { @extend .shadow; }
		}
		&.blackWithSvg { background-color: $black; color: $gray ; padding: 16px 64px 16px 24px;
			&:before { background-image: url('../../images/svg/tooth_gray.svg'); content: ""; position: absolute; -webkit-transform: translateY(-50%); top: 50%; transform: translateY(-50%); right: 24px; height: 24px; width: 24px; background-size: 100% 100%; }
			&:hover { background-color: $black_hover; }
		}
		&.black { background-color: $black; color: $white; @extend .f500;
			svg { position: absolute; -webkit-transform: translateY(-50%); top: 50%; transform: translateY(-50%); left: 32px; height: 32px; width: 32px; 
				path { fill: $white; }
			}
			&:hover { background-color: $black_hover; @extend .shadow;}
		}
	}
	&:hover { transform: translateY(-4px);}
}

@media only screen and (max-width: 1024px) {
	.button { border-radius: 20px;
		&.big { padding: 24px 168px 24px 64px; 
			&.black { 
				svg { left: 24px; height: 24px; width: 24px; }
			}
			&.white { font-size: 16px; line-height: 24px;
				svg { left: 24px; height: 24px; width: 24px; }
				&:before { right: 10px; }
			}
		} 
	} 
}
// .radioBtn { width: 20px; height: 20px; border: 1px solid $cool_gray; background-color: transparent; border-radius: 50%; @include c.transition(all 0.6s ease-in-out);
// 	svg { opacity: 0; @include c.transition(all 0.6s ease-in-out); }
// 	&:checked { background-color: $primary; border: 1px solid $primary;
// 		svg { opacity: 1;         }
// 	}
// } 