@font-face {
	font-family: "SweetSansProRegular";
	src: local("SweetSansProRegular"),
	url("../../fonts/SweetSansProRegular.otf") format("truetype");
	font-weight: 400;
  }
  @font-face {
	font-family: "SweetSansProMedium";
	src: local("SweetSansProMedium"),
	url("../../fonts/SweetSansProMedium.otf") format("truetype");
	font-weight: 500;
  }