@font-face {
	font-family: "ArtexExtendedBlack";
	src: local("ArtexExtendedBlack"),
	url("../../fonts/ArtexExtendedBlack.woff") format("truetype"),
	url("../../fonts/ArtexExtendedBlack.woff2") format("truetype");
  }
  @font-face {
	font-family: "ArtexExtendedRegular";
	src: local("ArtexExtendedRegular"),
	url("../../fonts/ArtexExtendedRegular.woff") format("truetype"),
	url("../../fonts/ArtexExtendedRegular.woff2") format("truetype");
  }
  @font-face {
	font-family: "AvanttBold";
	src: local("AvanttBold"),
	url("../../fonts/AvanttBold.woff") format("truetype"),
	url("../../fonts/AvanttBold.woff2") format("truetype");
  }
  @font-face {
	font-family: "AvanttRegular";
	src: local("AvanttRegular"),
	url("../../fonts/AvanttRegular.woff") format("truetype"),
	url("../../fonts/AvanttRegular.woff2") format("truetype");
  }