:root { 
	--400: 'SweetSansProRegular';
	--500: 'SweetSansProMedium';
	--bcLarge: 112px; 
	--bcMedium: 80px;
 
	--icXXSmall: 8px;
	--icXSmall: 16px; 
	--icSmall: 24px;
	--icSMedium: 32px;
	--icLarge: 40px;
	--icXLarge: 56px;
	--icXXLarge: 64px;

}
@media only screen and ( max-width: 1024px ) {
	:root {
		--bcLarge: 88px; 
		--bcMedium: 64px;

		--icXXSmall: 8px;
		--icXSmall: 16px;
		--icSmall: 16px;
		--icSMedium: 24px;
		--icLarge: 32px;
		--icXLarge: 40px;
		--icXXLarge: 56px;
	}
}

@media only screen and (max-width: 640px) {
	:root {
		--bcLarge: 72px; 
		--bcMedium: 56px;

		--icXXSmall: 8px;
		--icXSmall: 8px;
		--icSmall: 16px;
		--icSMedium: 16px; 
		--icLarge: 24px;
		--icXLarge: 32px;
		--icXXLarge: 40px;
	}
}