@use '../../styling/abstracts/' as *;
.footer-container { margin: var(--icLarge) 0 0;
    .container { 
        .first { margin-top: var(--bcMedium); display: flex; padding-top: var(--icXSmall); border-style: dashed; background-image: linear-gradient(to right, #333 10%, rgba(255, 255, 255, 0) 0%); background-position: top; background-size: 10px 1px; background-repeat: repeat-x;
            .column-list:not(.social-container) { width: 16.66%; display: flex; flex-direction: column; text-align: left;
                .title { 
                    a {  color: $black; font-size: 14px; line-height: 16px; background-image: linear-gradient( to right, $black, $black 50%, $black 50% ); background-size: 200% 100%; background-position: -100%; display: inline-block; position: relative; -webkit-background-clip: text; -webkit-text-fill-color: transparent; @include transition(all 0.4s ease-in-out); 
                        &:before { content: ''; background: $black; display: block; position: absolute; bottom: -1px; left: 0; width: 0; height: 2px; @include transition(all 0.4s ease-in-out);  }
                        &:hover { background-position: 0; 
                            &:before { width: 100%; }
                        }
                    }
                    span {  color: $black; font-size: 14px; line-height: 16px; }
                }
            }
            .social-container { display: flex; flex-direction: row; margin-left: auto; 
                li { margin-right: var(--icSmall); display: inline; 
                    &:last-child { margin-right: 0; }
                    &:hover {
                        svg { transform: rotate(10deg) scale(1.1); }
                    }
                    svg { @include transition(transform 0.4s ease-in-out); }
                }
            }
        }
        .third { margin-top: var(--icXXLarge); padding-top: var(--icXSmall); display: flex; border-style: dashed; background-image: linear-gradient(to right, #333 10%, rgba(255, 255, 255, 0) 0%); background-position: top; background-size: 10px 1px; background-repeat: repeat-x; margin-bottom: var(--icXLarge);
            .column-list { width: 16.66%; display: flex; flex-direction: column; text-align: left;
                &.soul { text-align: right; }
                .title { 
                    a, .not-a {  color: $black; font-size: 14px; line-height: 16px; background-image: linear-gradient( to right, $black, $black 50%, $black 50% ); background-size: 200% 100%; background-position: -100%; display: inline-block; position: relative; -webkit-background-clip: text; -webkit-text-fill-color: transparent; @include transition(all 0.4s ease-in-out); 
                        &:before { content: ''; background: $black; display: block; position: absolute; bottom: -1px; left: 0; width: 0; height: 2px; @include transition(all 0.4s ease-in-out);  }
                        &:hover { background-position: 0; 
                            &:before { width: 100%; }
                        }
                    }
                    span {  color: $black; font-size: 14px; line-height: 16px; }
                }
            }
        }
    }
}
@media only screen and (max-width: 1024px) {
	.footer-container { margin: var(--icLarge) 0 0;
        .container { 
            .first { display: flex; flex-wrap: wrap; background-image: none;
                .column-list:not(.social-container){ width: 50%; display: flex; flex-direction: column; text-align: left; }
                .social-container { display: flex; flex-direction: row; width: 50%; }
                .column-list { padding-top: var(--icXSmall); border-style: dashed; background-image: linear-gradient(to right, #333 10%, rgba(255, 255, 255, 0) 0%); background-position: top; background-size: 10px 1px; background-repeat: repeat-x; padding-bottom: var(--icXLarge); margin-top: 8px; 
                    &:nth-last-child(2) { border-bottom: none;}
                    &:nth-last-child(1) { border-bottom: none;}
                }
            }
            .second { margin-top: var(--bcMedium); display: flex;  flex-wrap: wrap; padding-top: var(--icXSmall); border: none; background-image: none;
                .column-list { width: 50%; display: flex; flex-direction: column; text-align: left; margin-bottom: var(--icXLarge); }
            }
            .third { margin-top: var(--icXXLarge); padding: var(--icXSmall) 0 var(--icXLarge); display: flex; flex-direction: column; border: none; background-image: none;
                .column-list { width: 100%; display: flex; flex-direction: column; text-align: left; 
                    &.soul { text-align: left;}
                    &:nth-child(3) { 
                        a { margin-bottom: var(--icXLarge); }
                    }
                    .title a { color: $darkgray; background-image: linear-gradient( to right, $black, $black 50%, $darkgray 50% ); margin-bottom: var(--icSmall); }
                }
            }
        }
    }
}