@use '../../styling/abstracts/' as *;
.main-header-container { position: fixed; top: 24px; left: 50%; transform: translateX(-50%); z-index: 9999; width: 100%; max-width: 1920px; padding: 0 var(--icsMedium1); box-sizing: border-box;
    .header-container {  height: 52px; line-height: 52px; display: flex; border-radius: 16px; padding: 0 var(--icSmall); box-sizing: border-box; position: relative;
        .logo-container { position: relative; cursor: pointer; height: 52px; width: 110px;
            .logo { display: inline-block; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); height: 20px; width: 110px; max-width: unset; }
        }
        .menu-container {
            .menu-item-container {
                a { @extend .small; color: $black}
            }
        }
        .menu-container { display: flex; gap: var(--icSmall); margin-left: auto; }
        .menu-button {  margin-left: auto; margin-top: 16px; display: none; height: 20px; width: 20px; position: relative; cursor: pointer;
            .firstDot, .secondDot, .thirdDot, .fourthDot {
                &:before { content: ""; position: absolute; height: 7px; width: 7px; background-color: $black; border-radius: 50%; }
            }
            .firstDot { 
                &:before { top: 0; left: 0; }
            }
            .secondDot { 
                &:before { top: 0; right: 0; }
            }
            .thirdDot { 
                &:before { bottom: 0; left: 0; }
            }
            .fourthDot { 
                &:before { bottom: 0; right: 0; }
            }
        }
        .mobile-menu-container { display: none; position: fixed; right: -100%; top: 60px; transition: 0.4s right ease-in-out; width: 250px; height: fit-content; border-radius: 32px; background-color: $white;  }
        &.scrolled { background: rgba(194, 194, 194, 0.3); backdrop-filter: blur(10px); }
        
    }
    @media only screen and (max-width: 760px) { top:0; left: 0; transform: translateX(0); padding: 0; 
        .header-container { border-radius: 0;
            .menu-container { display: none; }
            .menu-button { display: inline-block; transition: transform 0.4s ease-in-out; 
                &.open { transform: rotate(45deg); }
                &.close { transform: rotate(0deg); }
            }
            .mobile-menu-container { display: flex; box-sizing: border-box; padding: 32px;
                .mobile-menu { display: flex; flex-direction: row; flex-wrap: wrap; width: 100%; text-align: left;
                    .menu-item-container { line-height: 130%; margin-bottom: var(--icSmall);
                        &:last-child { margin-bottom: 0; } 
                        a { color: $black; }
                    }
                }
                &.open {  right: 24px;
                    .mobile-menu { display: flex; flex-direction: column;}
                }
            }
        }
    }
}
      